@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Special+Elite&display=swap');

content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: whitesmoke;
    color: #2b061e
}
body {
    font-size: 22px;
    margin: 0;
    padding: 0;
}
nav a {
    text-align: center;
    color:#2b061e;
    text-decoration: none;
    padding: 35px
}
nav a:hover {
    background-color:#f65c40;
    color:#0f62e4;
}
.home-title {
    color: #d7cdcc;
    margin-top: 10px;
    font-family: "Special Elite", Garamond;
    font-size: 2em;
}
#hero-img {
    width: 100%;
}
#hero-msg h1 {
    text-align: center;
    color: #f65c40;
    padding-top: 15px;
}
#hero-msg h4 {
    text-align: center;
    color: #f65c40;
    padding-top: 10px;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg p {
    color:#2b061e;
    font-size: 1.5em;
    text-align: center;
    font-family: "Special Elite", Garamond;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#raft-img {
    width: 100%;
}
#raft-msg h1 {
    text-align: center;
    color: #f65c40;
    padding-top: 15px;
}
#raft-msg h4 {
    text-align: center;
    color: #f65c40;
    padding-top: 10px;
}
#raft-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#raft-msg p {
    color:#2b061e;
    background: rgba(215,205, 204, 0.6);
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
    font-family: "Special Elite", Garamond;
}
#raft {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#raft-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
h1, h2, h3, h4 {
    font-family: "Special Elite", Garamond;
    color:#2b061e
}
h2 {
    margin: 0;
}
.button-box {
    text-align: center;
}
header {
    background-color: rgba(215,205, 204, 0.6);
    color:#2b061e;
    display: grid;
    grid-template-columns: 150px auto;
}
main section {
    text-align: center;
    font-family: Roboto, Helvetica, sans-serif;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.locations-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
#background {
    height: 725px;
    background-color: #2b061e;
    grid-column: 1/11;
    grid-row: 4/9;
}
nav {
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.book, .join {
    background-color: #2b061e;
    color:#d7cdcc;
    font-family: "Special Elite", Garamond;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color:#f65c40;
    color:#0f62e4
}
.msg {
    background-color:#d7cdcc;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #f65c40;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    padding: 25px 50px;
    margin-top: 200px;
    background-color:#2b061e;
    color: #f65c40;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #d7cdcc;
    text-decoration: none;
}
footer a:hover {
    background-color: #f65c40;
    color: #0f62e4;
}
footer p {
    font-size: 1.2em;
    font-family: Roboto, Helvetica, sans-serif;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.logo {
    width: 80px;
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.idaho-card, .utah-card, .arizona-card {
    margin: 50px 0;
}
.card-img {
    border: 10px solid #2b061e;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #0f62e4;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.trip-img {
    border: 10px solid #2b061e;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #0f62e4;
}
.trip-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #f65c40;
}
main section img {
    box-sizing: border-box;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #f65c40;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.idaho-card {
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: #d7cdcc;
    padding: 10px;
    border: 5px solid #2b061e;
    box-shadow: 5px 5px 10px #f65c40
}
.utah-card {
    grid-column: 5/7;
    grid-row: 2/3;
    background-color: #d7cdcc;
    padding: 10px;
    border: 5px solid #2b061e;
    box-shadow: 5px 5px 10px #f65c40
}
.arizona-card {
    grid-column: 8/10;
    grid-row: 2/3;
    background-color: #d7cdcc;
    padding: 10px;
    border: 5px solid #2b061e;
    box-shadow: 5px 5px 10px #f65c40
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}